.class
*.log
.history

# sbt specific
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/activator-sbt*

# IDEA InteliJ
.idea/*
.idea_modules/*
projectFilesBackup/

# MacOS
.DS_Store
